<form action="/add/" method="post" class="forms">
  <label for="newrecipe">Recipe Name:</label>
  <input type="text" name="newrecipe" id="newrecipe" autofocus /> </br>
  <label for="newingredients">Ingredients:</label>
  <input type="text" name="newingredients" id="newingredients" autofocus /> </br>
  <label for="newdirections">Directions:</label>
  <input type="text" name="newdirections" id="newdirections" autofocus /> </br>
  <input type="submit" />
</form>
