<form action="/add/" method="post" id="create-form">
  <%# <p> %>
    <label for="newrecipe">Name:</label>
    <input type="text" name="newrecipe" id="newrecipe" autofocus /> </br>
    <label for="newingredients">Ingredients:</label>
    <input type="text" name="newingredients" id="newingredients" autofocus /> </br>
    <input type="submit" />
  <%# </p> %>
</form>
