<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/main.css">
</head>
  <body>
    <% include ./header %>
    <% include ./create-form %>
    <% include ./recipe-box %>
  </body>
</html>
