<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/main.css">
</head>
  <body>
    <% include ./partials/header %>
    <% include ./partials/create-form %>
    <% include ./partials/recipe-box %>
  </body>
</html>
