a{
  color: blue;
  text-decoration: none;
}

body{
  /* background-color: black;
  color: white; */
  text-align: center;
}

.forms{
  border: 1px dotted red;
}
#recipe-box{
  border: 1px dotted blue;
}
.recipe{
  border: 1px dotted green;
  display: inline-block;
  width: 24%;
}
